@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by @ViewData["Developer"]</p>

<br />

<address>
    <strong>More information: </strong> <a href="http://mftechinformatica.com.br">MF Tech</a>
</address>